/******************************
    Navigation
******************************/
@media screen and (min-width: 0rem) {
  /* header {
    position: sticky;
    top: 0;
  } */

  .navbar {
    /* width: 100%; */
    overflow: hidden;
    border: 1px solid black;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 3.5rem;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .navbar img {
    height: 100%;
  }
}

@media screen and (max-width: 48rem) {
  .hamburger {
    margin: auto 0;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 35px;
    height: 4px;
    margin: 6px;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(1) {
    /* rotate: 45deg; <-- this by itself moves it left*/
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .navbar ul {
    position: fixed;
    right: -100%;
    top: 3.5rem;
    border: 1px solid black;
  }

  .navbar ul.active {
    position: fixed;
    right: 0;
    top: 3.5rem;
    background-color: gray;
    border: 1px solid black;
  }

  .navbar ul li {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 48rem) {
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul li {
    padding-left: 2rem;
  }
}
